<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 
<body>
    <%- include("partials/header.ejs") %> 
    <h1 class="center blanco juegos">Juegos</h1>

    <div class="juegosCards">
        <div class="card-group">

    <div class="card" style="width: 18rem;">
        <img src="img/xbox.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Xbox</h5>
          <p class="card-text">360/One</p>
          <a href="#" class="btn btn-success">Ver catalogo</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="img/play.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Playstation</h5>
          <p class="card-text">Ps3/Ps4</p>
          <a href="#" class="btn btn-primary">Ver catalogo</a>
        </div>
      </div>

        </div>
      </div>

    </div>

    <!-- Ubicacion -->

    <h1 class="blanco center juegos">Encontranos en</h1>
    <h6 class="center blanco">Leandro N. Alem 215, Monte Grande, Provincia de Buenos Aires</h6>

    <div class="mapa center" id="ubicacion">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.576671932771!2d-58.47040498423145!3d-34.81659077630062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd161571a1dd9%3A0xd19179732ca8d7ab!2sDark%20Games!5e0!3m2!1ses-419!2sar!4v1630523614094!5m2!1ses-419!2sar" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <%- include("partials/footer.ejs") %> 
</body>
</html>